.box {
    color: azure;
    background-color: aqua;
    border: 1.5px solid blue;
    font-size: 20px;
    margin: 30px;
    padding: 60px 20px;
    text-align: center;
    transform: translate(108px, 4px);
    transition: transform 1s ease-out,background-color 2s 1s;
   

}

.box:hover {
    background-color: rgba(157, 243, 239, 0.63);
    transform:scale(0.5, 0.5);
   
}